@import './footer.scss';
@mixin set-margin($direction, $value){
    margin-#{$direction}: $value;
}

body{
    color: lightblue;
}

$primary-color: blue;

.content{
    .title{
        font-size: 24px;
        color: $primary-color;
    }
    @include set-margin(right, 16px);
    .title-lg{
        @extend .title;
        font-size: 32px;
    }
    .title-md{
        @extend .title;
    }
}

body{
    background-color: $primary-color;
}

h2{
    border-color: $primary-color;
}